@page "/tag/{tagName}"
@model Bloggie.web.Pages.Tags.DetailsModel
@{
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <h2 class="mb-3 mt-3 display-4 fw-bold">Blogs</h2>

            @if (Model.BlogPosts != null)
            {
                @foreach (var blog in Model.BlogPosts)
                {
                    <div class="mb-5 bg-dark text-light shadow-sm rounded-3">
                        <div class="row justify-content-center rounded-top">
                            <img src="@blog.FeaturedImageUrl" alt="@blog.Heading" class="img-fluid rounded-top" style="max-width: 100%; height: auto;" />
                        </div>
                        <div class="px-4 py-4">
                            <h2 class="fw-bold text-light">@blog.Heading</h2>
                            <p class="text-muted">
                                Author: @blog.Author
                                <br />
                                Date: @blog.PublishedDate.ToShortDateString()
                            </p>
                            <p>
                                @blog.ShortDescription
                            </p>
                            <a href="/blog/@blog.URLHandle" class="btn btn-outline-light">Read More</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
