@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container col-xxl-8 px-4">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Bloggie - The dev blog
            </h1>
            <p class="lead">
               Bloggie is the home to coding blogs coveing vast of topics like HTML, CSS, REACT and Advance.
            </p>
        </div>
        <div class="col-12 col-lg-6">
            <img src="~/images/title.webp"/>
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="cols-6">
            <h2 class="mb-3 mt-3 display-3 fw-bold">Blogs</h2>
            @if (Model.Blogs != null)
            {
                @foreach (var blog in Model.Blogs)
                {
                    <div class="mb-5 bg-light box-shadow">
                        <div class="row justify-content-center">

                        <img src="@blog.FeaturedImageUrl" alt="@blog.Heading" class="mb-2 d-block img-fluid" style="width:800px;"/>
                        </div>
                        <div class="px-4 py-4">
                            <h2 class="mb-2 fw-bold">@blog.Heading</h2>
                            <p>
                                Author: @blog.Author
                                <br/>
                                Date: @blog.PublishedDate.ToShortDateString()
                            </p>
                            <p class="mb-2">
                                @blog.ShortDescription
                            </p>
                            <a href="/blog/@blog.URLHandle" class="btn btn-dark">Read More</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>